* {
    margin: 20px 20px 20px 20px;
}

img {
    float: left;
}

.container1,
.container2,
.container3 {
    width: 600px;
    text-align: left;
    display: inline-block;
}

h4 {
    font-size: 40px;
    color: rgb(192, 18, 47);
}

p {
    line-height: 20px;
}