*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  #circle1 {
    background-color: #F08080;
    opacity: .3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position:absolute;
    top:0%;
    left:0%;     
    transform: translate(-40%, -40%);
 
  }
  #circle2 {
    background-color: #FFA500;
    opacity: .3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position:absolute;
    top:5%;
    left:0%;
    transform: translate(-40%, -40%);

  }
  .one{
    position:absolute;
    top:28%;
    left:10%;
  }
  .people{
    background-color: rgb(241, 48, 80);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    position:absolute;
    top:28%;
    left:20%;
  }
  
  .two{
    position:absolute;
    top:36%;
    left:20%;
  }
  .workspace{
    background-color: #f7b740;
    border:none;
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    position:absolute;
    top:36%;
    left:30%;
  }
  .arrow1{
    position:absolute;
    top:22%;
    left:23%;
  }
  .arrow2{
    position:absolute;
    top:30%;
    left:9%;
  }
 
  pre{
    font-family: Arial, sans-serif;
    position:absolute;
      top:46%;
      left:10%;
  }
  button{
  background-color:#f0740f;
  box-shadow: 1px 1px 10px #f1eb8cc7;
  color: #fff;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 8px;
  font-size: 10px;
  padding: 10px 50px;
  position:absolute;
  top:30%;
  left:0%;
  }
  #circle3 {
    background-color: #f8cb79;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position:absolute;
    bottom:10%;
    left:135%;

  }
  #circle4 {
    background-color:white;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    position:absolute;
    bottom:20%;
    left:143%;

  }
  .colone{
    background: white;
    border: none;
    border-radius: 5px;
     filter: drop-shadow(5px 5px 5px grey);
    position:absolute;
    bottom:90%;
    left:130%;
  }
  .coltwo{
    padding: 5px 5px;
    background: white;
    border: none;
    border-radius: 5px;
     filter: drop-shadow(5px 5px 5px grey);
    position:absolute;
    bottom:133%;
    left:180%;
  }
  .colthree{
    padding: 5px 5px;
    background: white;
    border: none;
    border-radius: 5px;
     filter: drop-shadow(5px 5px 5px grey);
    position:absolute;
    bottom:50%;
    left:130%;
  }
  .colfour{
    padding: 5px 5px;
    background: white;
    border: none;
    border-radius: 5px;
     filter: drop-shadow(5px 5px 5px grey);
    position:absolute;
    bottom:50%;
    left:225%;
  }
  .colfive{
    padding: 5px 5px;
    background: white;
    border: none;
    border-radius: 5px;
     filter: drop-shadow(5px 5px 5px grey);
    position:absolute;
    bottom:90%;
    left:225%;
  }
  .colsix{
    padding: 5px 5px;
    background: white;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 5px grey);
    position:absolute;
    bottom:5%;
    left:176%;
  }
  .colseven{
    position:absolute;
    bottom:40%;
    left:155%;
  }
